.parentContainer{
    width: 100%;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: url("/images/bg-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
    );

    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
    );
}

.description{
    justify-self: center;
    width: 45%;
    font-size: var(--font-size-xl);
    text-align: center;
}