.parentContainer{
    width: 100%;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.description{
    font-size: var(--font-size-xl);
    text-align: center;
}