/* LIGHT */
:root[data-theme="light"] {
  --color-bg: #ebe1d5;
  --color-text: #111827;
  --color-primary: #2563eb;
  --color-card: #f3f4f6;
  --color-border: #e5e7eb;
}

/* DARK */
:root[data-theme="dark"] {
  --color-bg: #ebe1d5;
  --color-text: #111827;
  --color-primary: #2563eb;
  --color-card: #f3f4f6;
  --color-border: #e5e7eb;
}