.parentComponent{
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-image: url("/images/frame.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    min-width: 600px;
    min-height: 800px;
}

.title{
    font-size: var(--font-size-2xl);
    padding-bottom: 5%;
}

.name{
    width: 400px;
    font-size: var(--font-size-3xl);
    padding-bottom: 5%;
    text-align: center;
}

.description{
    width: 400px;
    text-align: center;
    font-size: var(--font-size-lg);
    padding-bottom: 1rem;
}